* {
    padding: 0;
    margin: 0;
}


/*************************************   navbar   **************************************/
.navbar {
    background-color: #37517e;
    padding-top: 15px;
    display: flex;
    align-items: center;
    position: fixed;
    position: sticky;
    top: 1px;
    opacity: 0.89;
}

.logo1 {
    height: 70px;
    width: 130px;
    padding-left: 20px;
}

.nav {
    display: flex;
    color: white;

}

.navbar1 {
    margin-left: 26%;
}


#arrow{
    color: black;
}
#arrowdown{
    color: white;
}


.dropdown-content{
    display: none;
    position: absolute;
    background-color:white;
    margin-top: 20px;
    border-radius: 10px;
    width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);

}

 #zee {
    padding: 12px 16px;
    text-decoration: none; 
    display: block;
    color: black;
    
} 

#zee:hover{
    color: blue;
 }
 .drop:hover .dropdown-content{
     display: block;
 }
 


.dropdown-content1{
    position:absolute;
    display: none;
    top: 25px;
    left: -162px;
    background-color: white;
    border-radius: 10px;
    width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}
#front{
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    color: black;
}

#front:hover{
    color: blue;
}
.front:hover .dropdown-content1{
    display: block;
}

.dropdown-content2{
    position:absolute;
    display: none;
    top: 60px;
    left: -162px;
    background-color: white;
    border-radius: 10px;
    width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

#back{
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    color: black;
}

#back:hover{
    color: blue;
}
.back:hover .dropdown-content2{
    display: block;
}


.dropdown-content3{
    position:absolute;
    display: none;
    top: 100px;
    left: -162px;
    background-color: white;
    border-radius: 10px;
    width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

#data{
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    color: black;
}

#data:hover{
    color: blue;
}
.data:hover .dropdown-content3{
    display: block;
}


a {
    text-decoration: none;
    color: white;
    padding: 25px;
    font-size: 19px;
}

a:hover {
    color: blue;
}

#get {
    border: 2px solid skyblue;
    border-radius: 20px;
    height: 35px;
    width: 150px;
    padding: 10px 20px;
}

#get:hover {
    background-color: skyblue;
    color: white;
}

.kidslogo {
    height: 40px;
    width: 100px;
    margin-left: 30px;
    animation: blink-animation 1s steps(5, start) infinite;
}

@keyframes blink-animation {
    from {
        transform: scale(1.5, 1.5);
    }
    to {}
}

/********************************************************  section1  ***************************/



#section1 {
    background: #37517e;
}

.home {
    display: flex;
    justify-content: space-evenly;
    /* padding-top: 80px;*/
}

#hero {
    height: 420px;
    width: 550px;
}

.intro {
    margin-top: 70px;
    font-family: "Jost", sans-serif;
}

#YAY {
    color: sandybrown;
    font-size: 25px;
    padding-bottom: 10px;
}

#pay {
    color: rgb(168, 168, 168);
    font-size: 22px;
    margin-bottom: 50px;
    padding-bottom: 20px;
}

#learn {
    font-size: 42px;
    color: white;
    padding-bottom: 10px;
}

#link {
    color: white;
    border-radius: 20px;
    padding: 10px 50px;
    background-color: skyblue;
    font-size: 16px;
}

#link:hover {
    background-color: rgb(108, 177, 204);
}


.client {
    height: 70px;
    width: 80px;
}

.lang {
    background-color: rgb(243, 243, 243);
    display: flex;
    justify-content: space-evenly;
    padding-top: 50px;
    margin-bottom: 50px;
    padding-bottom: 50px;
}


/***************************************************** section2 *******************************************/

#h1 {
    text-align: center;
    padding: 20px;
    padding-bottom: 80px;
    color: #37517e;
    font-size: 40px;
}

.aboutus {
    display: flex;
}

.about1 {
    width: 50%;
    padding: 20px;
    padding-left: 150px;
    font-size: larger;
    font-family: 'Times New Roman', Times, serif;
    color: rgba(0, 0, 0, 0.671);
}

.list {
    color: rgba(0, 0, 0, 0.671);
    padding-top: 30px;
}

.about2 {
    width: 50%;
    padding: 20px;
    padding-right: 100px;
    font-size: larger;
    font-family: 'Times New Roman', Times, serif;
    color: rgba(0, 0, 0, 0.671);
}

#one {
    padding-top: 5px;
}

.material-icons {
    color: rgb(8, 187, 82);
    padding-right: 10px;
}



#learnm {
    border: 2px solid skyblue;
    border-radius: 2px;
    height: 15px;
    width: 130px;
    padding: 8px 15px;
    color: skyblue;
}

#learnm:hover {
    background-color: skyblue;
    color: white;
}

#more {
    margin-top: 20px;
}


.main-answer {
    display: flex;
    justify-content: space-evenly;
    background-color: rgba(243, 243, 243);
    padding-top: 120px;
    margin-top: 50px;
    padding-bottom: 80px;
}

#getall {
    font-size: 20px;
    color: gray;
}

#answer {
    font-size: 38px;
    margin-bottom: 20px;
    color: navy;
}

#que {
    font-weight: bold;
}



.main-basic {
    display: flex;
    padding-top: 80px;
}

.skills {
    width: 50%;
    text-align: right;
    padding: 30px 10px 0px 0px;
}

.basic {
    width: 50%;
    margin-left: 30px;
}

#skills {
    height: 350px;
    width: 550px;
}

#basic1{
    font-family: Arial, Helvetica, sans-serif;
    color: #37517e;
    margin-bottom: 15px;
    font-size:35px;
}
#wetrain{
   font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.skill-container{
    margin-right: 100px;
    padding-top: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #37517e;
    font-weight: bold;
    font-size: small;
}

.p {
    background-color: paleturquoise;
    height: 10px;
    width: 100%;
    margin-bottom: 25px;
}

#html {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
}

.p1 {
    background-color: #37517e;
    height: 10px;
    width: 100%;
}

#css {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
}

.p2 {
    background-color: #37517e;
    height: 10px;
    width: 100%;
}

#javascript {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
}

.p3 {
    background-color: #37517e;
    height: 10px;
    width: 90%;
}

#javas {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
}

.p4 {
    background-color: #37517e;
    height: 10px;
    width: 100%;
}

#reactjs {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
}

.p5 {
    background-color: #37517e;
    height: 10px;
    width: 75%;
}

#add {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
}

.p6 {
    background-color: #37517e;
    height: 10px;
    width: 75%;
}



#section3{
    background: rgb(243, 243, 243);
    padding-bottom: 50px;
}

#h11{
    text-align: center;
    padding: 20px;
    color: #37517e;
    font-size: 40px;
}

#wetrain{
    padding-left: 5px;
    padding: 10px;
    line-height: 24px;
    font-size: 14px;
}

#below{
    text-align: center;
    padding-bottom:60px;
    color:gray;
    font-size: 18px;
}


#service{
    color: #37517e;
    padding: 10px;
    font-size: 22px;
    font-weight: bold;

}
#zero{
    padding-top: 60px;
}
.service1{
   display: flex;
   justify-content: center;
}
#icons{
    color:rgba(6, 176, 243, 0.979) ;
    padding-left: 10px;
    

}
#shadow{
    width: 230px;
    height: 260px;
    margin: 15px;
    padding: 10px;
    background-color: white; 
    box-shadow: 0.5px 0.5px 20px 0.5px rgb(189, 187, 187);
    transition: all ease-in-out 0.5s;
}


#shadow:hover{
    margin-top: -0.5px;   
}

#service:hover{
    color:rgba(6, 176, 243, 0.979) ;
}



.call{
    /* height: 350px; */
    width: 100%;
    background: linear-gradient(rgba(40, 58, 90, 0.9), rgba(40, 58, 90, 0.9)), url(../cta-bg.jpg) fixed center center;
    background-size: cover;
    display: flex;
    justify-content: space-between;
    padding: 130px 0px;
    margin-bottom: 50px;
}
#call1{
    margin-left: 120px;
    color: white;
    font-weight: bold;
}



#call4{                                             

    margin-right: 120px;
}
#call2{
    font-size: 30px;
    font-family: "Jost", sans-serif; 
}
#call3{
    font-size: 18px; 
    line-height: 30px;
}







.call_container{
    display: flex;
    justify-content:center;
}


.call_container1{
    border-top: 3px solid rgba(6, 176, 243, 0.979) ;
    border-bottom: 3px solid rgba(6, 176, 243, 0.979) ;
    width: 400px;
    padding: 10px;
    padding-right: 60px;
    box-shadow: 0.5px 0.5px 20px 0.5px rgb(189, 187, 187);
    margin-right: 10px;
}


#loc{
    font-size: 22px;
    color: #37517e;
    font-weight: bold;
    margin-left: 20px;
    margin-top: 30px;
}
#loc2{
    font-size: 16px;
    color: #37517e;
    margin-left: 70px;
}
#iconss{
    color: skyblue;
    border: 1px solid gray;
   padding: 10px;
   border-radius: 50px;
   background:rgb(234, 247, 247);
}

#img11{
    height: 300px;
    width: 400px;
    margin-top: 30px;
}



.call_container2{
    width: 600px;
    padding-bottom: 20px;
    border-top: 3px solid rgba(6, 176, 243, 0.979) ;
    border-bottom: 3px solid rgba(6, 176, 243, 0.979) ;
    box-shadow: 0.5px 0.5px 20px 0.5px rgb(189, 187, 187);
    margin-left: 10px;
    padding-bottom: 80px;
}
#yourname{
    display: flex;
    justify-content: space-evenly;
}

#input{
    width: 250px;
    height: 40px;
    border: 0.1px solid gray;
    border-radius: 5px;
}
#input1{
    border: 0.5px solid gray;
    border-radius: 5px;
    height: 40px;
    width: 536px;
    margin-left: 32px;
    
}
#subj{
    margin-left: 30px;
}

#input2{

    border: 0.5px solid gray;
    border-radius: 5px;
    height: 150px;
    width: 536px;
    margin-left: 32px;
    margin-bottom:30px;
}

#call_cont{
    margin-top: 40px;
}
#sendmessage{
    border: 2px solid skyblue;
    border-radius: 20px;
    padding: 10px 20px;
    margin-left: 230px;
    color: black;
}


.socialm{
    background: rgb(243, 243, 243);
    margin: 30px 0px;
    text-align: center;
}

.iconify{
    height: 30px;
    width: 30px;
    margin: 20px;
    color: rgb(51, 178, 228);

}


















